dist
node_modules
worker
package-lock.json
yarn.lock
.cargo-ok

# Output of 'npm pack'
*.tgz

.demo
.dev.vars
wrangler-local.toml
wrangler-prod.toml 
#self test, if need, add wrangler-test.toml
.wrangler

# Author did not include the lockfile in the published package so I respect that.
bun.lockb